.footer-container {
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  width: 100%;
}

.carousel-inner {
  display: inline-block;
  width: 100%;
}

img {
  height: 100%;
}

.carousel-item {
  width: 40%;
}
